{% load content %}{% load russian %}<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">

<head>
    <title>{% block title %}Титаник 2012{% endblock %}</title>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
   
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>

    <link rel="stylesheet" href="{% MEDIA_URL %}main.css?2"/>
    
    <script type="text/javascript" src="{% MEDIA_URL %}js/jquery-1.5.1.js"></script>

    {% block head %}{% endblock %}
</head>
<body>

<div class="b-top"><img src="{% MEDIA_URL %}i/top.png" alt="Титаник 2012" usemap="#Navigation" /></div>
<map name="Navigation">
  <area coords="0,0,603,119" href="/" alt="На главную">
  <area coords="33,120,100,180" href="/info/" alt="Информация">
  <area coords="107,120,176,180" href="/rules/" alt="Правила игры">
  <area coords="190,120,250,180" href="/roles" alt="Список ролей">
  <area coords="265,120,330,180" href="/form" alt="Форма заявки">
</map>
  
<div class="b-table-container">
<table class="main-table" cellspacing="0">
<tr>
    <td class="b-left-column">
        <img src="{% MEDIA_URL %}i/times.png" alt="Титаник 2012" /><br /><br />
        <img src="{% MEDIA_URL %}i/economist.png" alt="Титаник 2012" /><br /><br />
        <img src="{% MEDIA_URL %}i/guardian.png" alt="Титаник 2012" /><br /><br />
        <img src="{% MEDIA_URL %}i/newyorkpost.png" alt="Титаник 2012" />
    </td>
    <td class="l-gap"></td>
    <td class="b-content">{% block content %}{% endblock %}</td>
    <td class="l-gap"></td>
    <td class="b-right-column">
        {% if user %}
            Привет, {{ user.username }}
        {% else %}
            <img src="{% MEDIA_URL %}i/login.png" alt="Титаник 2012" />
        {% endif %}    
        <br /><br />
        <img src="{% MEDIA_URL %}i/forum.png" alt="Титаник 2012" /><br /><br />
        <a href="/links/" title="Ссылки"><img class="img_link" src="{% MEDIA_URL %}i/links.png" alt="Титаник 2012" /></a>
    </td>
</tr>
</table>
</div>

{% if not is_devel %}
<!-- Yandex.Metrika counter -->
<div style="display:none;"><script type="text/javascript">
(function(w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter6063916 = new Ya.Metrika(6063916);
             yaCounter6063916.clickmap(true);
             yaCounter6063916.trackLinks(true);
        
        } catch(e) { }
    });
})(window, 'yandex_metrika_callbacks');
</script></div>
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
<noscript><div><img src="//mc.yandex.ru/watch/6063916" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
{% endif %}
</body>
</html>