{% load content %}<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>

    <title>{% block title %}Хагакурэ - Сокрытое в листве{% endblock %}</title>

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
    <meta name="description" content="Хагакуре - сокрытое в листве">
    <meta name="keywords" content="Хагакуре">

    <link rel="stylesheet" href="{% MEDIA_URL %}book.css"/>

    <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
    <script type="text/javascript" src="http://yandex.st/jquery/1.6.2/jquery.min.js" charset="utf-8"></script>
</head>
<body>
	{% navigation current_chapter %}

	<div id="hugelogo">
		<h1 align="center">Хагакурэ — Сокрытое в листве</h1>
		<h2 align="center">{% block page_title %}Праздный вечерний разговор{% endblock %}</h2>
	</div>

	{% block content %}{% endblock %}

	<a href="http://dropdb.ru"><img src="{% MEDIA_URL %}i/dropdblink.png" alt="" title="" id="dropdb"></a>

<script type="text/javascript">
    $('.js-share').each(function(){
        console.log($(this).data('id'), $(this).data('url'));
        
        new Ya.share({
            element: 'ya_share_' + $(this).data('id'),
            elementStyle: {
                'type': 'button',
                'border': true,
                'quickServices': ['vkontakte','facebook','twitter']
            },
            link: $(this).data('url'),
            title: $(this).data('title'),
            serviceSpecific: {
                twitter: {
                 title: $(this).data('title-twitter')
                }
            }
        });        
    }); 
</script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-15747600-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>