{% extends "book/base.html" %}
{% load content %}

{% block title %}Хагакурэ: Глава #{{ chapter.id }}{% endblock %}

{% block page_title %}{{ chapter.title }}{% endblock %}

{% block content %}
    {% for paragraph in paragraphs %}
		<div class="onetextblock"><a name="{{ paragraph.pk }}"></a>
			{{ paragraph|linked_content }}
			<div class="copywiki">
                {% include "book/b_social_buttons.html" %}
				<div class="commimg"><a href="{{ paragraph.get_absolute_url }}#comments"><img src="{% MEDIA_URL %}i/comment.jpg" alt="Комментарии"></a></div>
			</div>
		</div>
    {% endfor %}
{% endblock %}