{% extends "book/base.html" %}
{% load content %}

{% block title %}Хагакурэ: Цитата #{{ paragraph.pk }} «{{ paragraph.first_sentence|striptags }}...»{% endblock %}

{% block page_title %}{{ paragraph.chapter.title }}{% endblock %}

{% block content %}
    <div id="pnumber">#{{ paragraph.pk }}</div>
	<div id="pshare">{% include "book/b_social_buttons.html" %}</div>
	<div class="onetextblockin">
    
		{{ paragraph.content|safe }}		

		<div id="pnav">
		{% if prev %}<a href="{{ prev.get_absolute_url }}">← Предыдущая цитата |</a>{% endif %}
		<a href="{{ paragraph.chapter.get_absolute_url }}#{{ paragraph.pk }}">↑ Вернуться к главе</a>
		     {% if next %}<a href="{{ next.get_absolute_url }}">| Следующая цитата →</a>{% endif %}
		</div>        

        <script type="text/javascript" src="http://userapi.com/js/api/openapi.js?29"></script>
	
		<div id="vkcomments">
	        <script type="text/javascript">
	            VK.init({apiId: 2347075, onlyWidgets: true});
	        </script>
	
	        <!-- Put this div tag to the place, where the Comments block will be -->
	        <a name="comments"></a><div id="vk_comments"></div>
	        <script type="text/javascript">
                function addVKComment(num, last_comment, date, sign){
                    $.getJSON("/book/vk_comment", {paragraph: {{ paragraph.pk }}, content: last_comment});
                }

	            VK.Widgets.Comments("vk_comments", {limit: 15, width: "500", attach: "*", onChange: addVKComment}, 'par_{{ paragraph.pk }}');
	        </script>
		</div>
	</div>
{% endblock %}