{% load content %}<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>

<title>Хагакурэ — Сокрытое в листве</title>

<link rel="icon" href="favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<meta name="description" content="Хагакуре - сокрытое в листве">
<meta name="keywords" content="Хагакуре">
    
<meta name='yandex-verification' content='77eff18ea28a9058' />

<link rel="stylesheet" href="{% MEDIA_URL %}index.css"/>
</head>

<body>

<div id="hugelogo">
	<a href="/"><img src="{% MEDIA_URL %}i/hugelogo.png" alt="Хагакуре — Сокрытое в листве" title="Хагакуре — Сокрытое в листве"></a>
</div>

<div id="clist">

<ul style="float:left;">
<li><a href="{% url chapter 1 %}">Из Книги Первой</a></li>
<li><a href="{% url chapter 2 %}">Из Книги Второй</a></li>
<li><a href="{% url chapter 3 %}">Из Книги Третьей</a></li>
<li><a href="{% url chapter 4 %}">Из Книги Четвертой</a></li>
<li><a href="{% url chapter 6 %}">Из Книги Шестой</a></li>
</ul>

<ul style="float:right; margin-right: 10px;">
<li><a href="{% url chapter 7 %}">Из Книги Седьмой</a></li>
<li><a href="{% url chapter 8 %}">Из Книги Восьмой</a></li>
<li><a href="{% url chapter 9 %}">Из Книги Девятой</a></li>
<li><a href="{% url chapter 10 %}">Из Книги Десятой</a></li>
<li><a href="{% url chapter 11 %}">Из Книги Одиннадцатой</a></li>

<!--<li>Праздный вечерний разговор</li>
<li>История книги, источники</li>-->
</ul>

</div>

<div class="onetextblock">
«Хагакурэ» — это проповедь бусидо, кодекса чести самурая. Оно провозглашает бусидо как «Путь смерти», или «жизнь так, как будто ты уже мёртв». Согласно «Хагакурэ», самурай готов умереть в любой момент, во имя сохранения чести (воинской чести). По мнению Юкио Мисимы все заповеди Дзете Ямамото появились на фоне преувеличенных, до крайности изысканных вкусов японцев, живших в эпохи Гэнроку (1688—1704) и Хоэй (1704—1709) как отрицание существовавших ценностей.<br>
<div id="copywiki">© Wikipedia, <a href="http://ru.wikipedia.org/wiki/Хагакурэ">http://ru.wikipedia.org/wiki/Хагакурэ</a></div>

</div>



<a href="http://dropdb.ru"><img src="{% MEDIA_URL %}i/dropdblink.png" alt="" title="" id="dropdb"></a>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-15747600-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


</body>
</html>